.m-t-15{
    margin-top: 15px;
}
.danger{
    color:red;
}

.main{
    margin-top: 10px;
    margin-left: 185px;
    margin-right: 100px;
    overflow-x: auto;
    overflow-y: auto;
}

.auth-box {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

