.header{
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: blueviolet;
    position: sticky;
    top:9px;
    left: 10px;
}


.header-list{
    list-style-type: none;
}

.header-item a{
    float: left;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.header-item a:hover{
    color: red;
}
.header-item a:active{
   font-weight: bold;
}

.logout{
    float:right;
    margin-right: 10px;
    margin-top:5px;
}

.user-info{
    float:right;
    margin-right: 10px;
    margin-top:10px;
    color: white;
}
