.sidebar{
    margin-top:60px;
    width: 160px;
    height: 100%;
    background-color: blueviolet;
    z-index: 1;
    position: fixed;
    top:0;
    left:10px;
}

.sidebar_item {
    color:white;
    display: block;
    padding: 10px;
    cursor: pointer;
}

.sidebar_item:hover{
    color: red;
}
.sidebar_item:active{
   font-weight: bold;
}


  